---
import Card from "@/components/Card/Card.astro";
import CardDescription from "@/components/Card/CardDescription.astro";
import CardLink from "@/components/Card/CardLink.astro";
import LinkIcon from "@/components/icons/LinkIcon.astro";
import Layout from "@/layouts/Layout.astro";
import SimpleLayout from "@/layouts/SimpleLayout.astro";
import { Image } from "astro:assets";
import MocatecLogo from "@/images/logos/mocatec.svg";
import PistoLogo from "@/images/logos/pisto.svg";
import JgpLogo from "@/images/logos/jgp.svg";

const projects = [
    {
        name: "Mocatec",
        description:
            "Convirtiendo Visiones en Soluciones: Tu Proyecto, Nuestra Experiencia",
        link: { href: "http://mocatec.com", label: "mocatec.com" },
        logo: MocatecLogo,
    },
    {
        name: "Pisto",
        description: "Préstamos rápidos para cualquier propósito en 24 horas",
        link: { href: "https://pisto.co", label: "pisto.co" },
        logo: PistoLogo,
    },
    {
        name: "Japan Gourmet Pass",
        description:
            "Visite los mejores restaurantes de Japón con reservas gratuitas",
        link: {
            href: "https://japangourmetpass.com",
            label: "japangourmetpass.com",
        },
        logo: JgpLogo,
    },
];
---

<Layout
    title="Proyectos"
    description="Cosas que he hecho tratando de dejar mi huella en el mundo."
>
    <SimpleLayout
        title="Cosas que he hecho tratando de dejar mi huella en el mundo."
        intro="He trabajado en muchos proyectos en estos años pero estos son algunos de los que estoy más orgulloso. No son open source así que no puedo colocar enlace a su repositorio pero si un enlace para que puedas ver el resultado final."
    >
        <ul
            role="list"
            class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
        >
            {
                projects.map((project) => (
                    <Card as="li" key={project.name}>
                        <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                            <Image src={project.logo} alt="" class="h-8 w-8" />
                        </div>
                        <h2 class="mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100">
                            <CardLink href={project.link.href} target="_blank">
                                {project.name}
                            </CardLink>
                        </h2>
                        <CardDescription>{project.description}</CardDescription>
                        <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-teal-500 dark:text-zinc-200">
                            <LinkIcon class="h-6 w-6 flex-none" />
                            <span class="ml-2">{project.link.label}</span>
                        </p>
                    </Card>
                ))
            }
        </ul>
    </SimpleLayout>
</Layout>
